<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">MovieBase</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" #name class="form-control" [(ngModel)]="movie" name="movie" placeholder="Search">
                    </div>
                    <a routerLink="/search/name" class="btn btn-default">Submit</a>
                </form>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a class="head" href="#">
                        Genre
                    </a>
                    </li>
                    <li *ngFor="let genre of genreResults;">
                        <a [routerLinkActive]="['active']" routerLink="/genre/{{genre.name}}">{{genre.name}}</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-9" style="margin-top:10px">
            <div class="row">
                <div *ngIf="Results" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Results</h3>
                    </div>
                    <div class="panel-body">

                        <div *ngFor="let list of Results; let i=index" style="height:300px;" class="col-md-4 col-sm-3">
                            <div *ngIf="i < 9">
                                <img class="thumbnail" *ngIf="list.poster_path" src="http://image.tmdb.org/t/p/w500/{{list.backdrop_path}}" alt=" ">
                                <h4>{{list.title}}</h4>
                                <p>{{list.release_date}}</p>
                                <p><a routerLinkActive="active-link" class="btn   btn-primary" routerLink="/movie/{{list.id}}">View details</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>